@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0FB2E5;
  --blur-primary-color: #c2f1ff;
  --light-primary-color: #8CEDFE;
  --dark-primary-color: #088DB7;
  --secondary-color: #3B475A;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

@media (max-width: 800px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #3B475A;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .text-link {
    @apply cursor-pointer text-nowrap hover:text-primary uppercase font-medium
  }

  .custom-input {
    @apply appearance-none block w-full text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:border-dark-primary focus:border-2
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
  /* Ẩn icon mặc định */
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra Extra large devices (large laptops and desktops, 1400 and up) */